p {
    text-align: center;
}

h5 {
    text-align: center;
}

.avatar-frame,.avatar-frame img{
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.balao-bianca {
    position: relative;
    padding: 15px;
    color: #333;
    background: #fff;
    /* css3 */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

/* creates the triangle */
.balao-bianca:after {
    content: "";
    position: absolute;
    top: 30px;
    left: -20px;
    border: 15px solid transparent;
    border-bottom-color: #fff;
    display: block;
    width: 0px;
    border-width: 0px 0px 30px 30px;
}

.balao-israel {
    position: relative;
    padding: 15px;
    color: #333;
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

/* creates the triangle */
.balao-israel:after {
    content: "";
    position: absolute;
    top: 30px;
    left: 490px;
    border: 15px solid transparent;
    border-bottom-color: #fff;
    display: block;
    width: 0px;
    border-width: 0px 40px 40px 0px;
}

.footer {
    background-color: white; margin-top: 100px; text-align: center; padding: 10px; font-size: 10px;
}

.logo {
    background-color: white; text-align: center; padding: 10px; font-family: Lobster;
}

.titulo {
    font-size: 50px
}

.subtitulo {
    font-size: 30px
}

.background {
    background: linear-gradient(90deg, lightpink 50%, skyblue 50%);
}

.borda {
    border-style: solid; border-width: 4px; border-color: #fff
}
