h5 {
    text-align: center;
}

.avatar-frame,.avatar-frame img{
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.footer {
    background-color: white; margin-top: 100px; text-align: center; padding: 10px; font-size: 10px;
}

.logo {
    background-color: white; text-align: center; padding: 10px; font-family: Lobster;
}

.titulo {
    font-size: 50px
}

.subtitulo {
    font-size: 30px
}

.background {
    background: linear-gradient(90deg, lightpink 50%, skyblue 50%);
}

.imagem {
    width: 280px;
    border-radius: 20px;
    display: block;
    margin: auto
}
