{% load staticfiles %}
<html>
<head>
    <link href='//fonts.googleapis.com/css?family=Lobster|Raleway:400,00,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static "css/normalize.css" %}">
    <link rel="stylesheet" href="{% static "css/skeleton.css" %}">
    <link rel="stylesheet" href="{% static "css/custom.css" %}">
    <link rel="stylesheet" href="{% static "css/chat-bubble.css" %}">
    <title>Casal Que Corre</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Um diário com os treinos e eventos de corrida que o casal Israel & Bianca participam."/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body class="background">
<div class="logo">
    <div class="titulo">Casal Que Corre</div>
    <div class="subtitulo">&quot;Nas retas e nas subidas, at&eacute; que a morte os separe.&quot;</div>
</div>
<div id="timeline" class="container">
{% autoescape off %}
{% for relato in relatos %}
    <div style="margin-top: 20px;">
        <div>
            <h5>
                <div style="background-color: #fff; border-radius: 10px; padding: 10px; width: 300px; margin: auto">
                    <strong>{{relato.data}}</strong><br>{{relato.titulo}}
                </div>
            </h5>
        </div>
        <div>
            <div style="float: left; width: 100px">
                <img src="{% static "img/bianca_avatar.png" %}" class="avatar-frame">
            </div>
            <p class="chat-bubble left" style="margin-left: 130px">
                {{relato.texto_bianca}}
            </p>
        </div>
        <div>
            <div style="float: right; width: 100px">
                <img src="{% static "img/israel_avatar.png" %}" class="avatar-frame">
            </div>
            <p class="chat-bubble right" style="margin-right: 130px">
                {{relato.texto_israel}}
            </p>
        </div>
        <div>
            <img src="{% static "img" %}/{{relato.nome_foto}}" class="imagem">
        </div>
    </div>
{% endfor %}
{% endautoescape %}
</div>
<div class="footer">
    Um projeto feito com carinho, por um casal que n&atilde;o fica mais parado.
</div>
</body>
</html>
